
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/p_index.css">
</head>

<body>
<p style="margin-left : 0%;"><img id="explogo" src="/static/explogo.jpg" alt="explogo.png"></p>
<img id="MyPhoto" src="/static/profilepic.jpeg"> 

<h1 id="name"><b style="border-bottom: 2px solid rgb(17, 17, 17); font-weight: 300;">Rehan Shakoor</b></h1>
<h2 style="margin-left: 415px;" id="sde">SOFTWARE  DEVELOPMENT EXPLORATION PROGRAM</h2>

<a class="space" href="{% url 'page3' %}" target="_blank" >ABOUT</a>
<a class="space" href="{% url 'page2' %}" target="_blank">PROJECTS</a>
<a class="space" href="{% url 'page4' %}" target="_blank">CONTACTS</a>
<p><a class="space" href="https://RehanShakoor.explorin.io/accounts" target="_blank" style="margin-right:700px;margin-left:620px;border:solid black 2px;border-radius:5px;padding-top: 4px;padding-bottom: 4px;">Link to master project</a>    


<p style="margin-top : 3%;">
<a id="logo1" href="https://www.facebook.com/rehan.shakoor.5688" target="_blank">
    <img id="fblogo" src="/static/fblogo.png" alt="fblogo.png"></a>
    
<a id="logo2" href="https://www.linkedin.com/in/rehan-shakoor-1311941a0" target="_blank">
    <img id="lilogo" src="/static/linkedinlogo.jpg" alt="linkedinlogo.png"></a> 
</p>     
    
</body>
</html>
