<!DOCTYPE html>
<html>
    <head>
        <title>Upload page</title>
    </head>
    <body>
        {% block content %}
            <img  style="margin-right:0px;margin-top : 10px; margin-bottom : 10px; width : 200px; border : 0px solid #eaecee; padding-right: 660px; padding-left: 660px;" src="/static/insta_text.png">
            <p style=" margin-left : 320px;margin-right : 320px;border-radius: 20px ; border : 2px solid #000000; padding-top: 20px; padding-bottom: 20px; padding-right: 10px; padding-left: 5px;">
            <a style="border-radius: 5px; margin-left: 80px; background-color : #2196F3; color : white; font-size : 15px; text-decoration: none; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; word-spacing: 10px;" href="{% url 'home' %}">HOME</a>
            <a style="border-radius: 5px; margin-left: 100px; background-color : #2196F3; color : white; font-size : 15px; text-decoration: none; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; word-spacing: 10px;" href="{% url 'addpost' %}">ADD  POST</a>
            <a style="border-radius: 5px; margin-left: 100px; background-color : #2196F3; color : white; font-size : 15px; text-decoration: none; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; word-spacing: 10px;" href="{% url 'viewpost' %}">VIEW  POST</a>
            <a style="border-radius: 5px; margin-left: 100px; background-color : #2196F3; color : white; font-size : 15px; text-decoration: none; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; word-spacing: 10px;" href="{% url 'login' %}">LOGOUT</a>
            </p>
            <p style="margin-left:320px; font-size : 35px; font-family: Garamond, monaco, fantasy;"><b style="border-bottom: 2px solid rgb(17, 17, 17);font-weight:300;">Posts :-</b></p>
            {% for x in qs %}
            <div style=" border : 2px solid #494a4b;border-radius: 15px ; margin-left: 320px;margin-right: 603px;margin-bottom: 50px;" >
             <ul style="list-style-type: none;">
             <li style="margin-top:10px;font-size: 27px;"><b style="border-bottom: 2px solid rgb(17, 17, 17);font-weight:300;">{{x.title}}</b></li>
             <img style="margin-top:40px; width:500px;height:400px;" src="{{x.photo.url}}">
             <li style="font-size:25px;margin-top:10px;margin-bottom:20px;">{{x.body}}</li>
             </ul>
             <form action="{% url 'like-post' %}" method='POST'>
                     {% csrf_token %}
                     <input type="hidden" name="post_id" value="{{x.id}}">
                     {% if user not in x.liked.all %}
                         <button type="submit" style="border-radius: 5px;margin-left: 38px;margin-bottom: 10px; background-color: #4CAF50; border: none; color: white; padding: 10px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;cursor: pointer;" >Like</button> - {{x.liked.all.count}} Likes
                     {% else %}
                         <button type="submit" style="border-radius: 5px;margin-left: 38px;margin-bottom: 10px; background-color: #f50303; border: none; color: white; padding: 10px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;cursor: pointer;">Unlike</button> - {{x.liked.all.count}} Likes
                     {% endif %}
             </form>
            </div>
            {% endfor %}
            <p style="font-size:30px; margin-left: 630px;font-weight: 300;margin-top:30px;"><b style="border-bottom: 2px solid rgb(17, 17, 17);font-weight:580;font-family: Garamond, monaco, fantasy;">Special thanks to :</b></p>
            <img style="border:3px solid black; border-radius:10px ; padding:10px ;margin-top:5px;margin-bottom:10px;margin-left: 632px; width:200px; height:50px;"src="/static/explogo.jpg">
            <hr style="margin-left: 320px;margin-right: 320px;height:1.5px;color:#000000;margin-top:30px;background-color:rgb(0, 0, 0)"> 
        {% endblock %}
    </body>
</html>


